$lightGray: #c3c3c3;
$white: #f3f3f3;
@mixin responsiveText($fontSize) {
  font-size: $fontSize;
  @media screen and (max-width: 992px) {
    font-size: $fontSize * 0.7;
  }
  @media screen and (max-width: 768px) {
    font-size: $fontSize * 0.5;
  }
  @media screen and (max-width: 525px) {
    font-size: $fontSize * 0.4;
  }
}
#accounts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  transition: all 0.5s;
  @media screen and (max-width: 992px) {
    margin-top: 12px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 8px;
  }
  #accountsArena {
    box-sizing: content-box;
    max-width: 720px;
    border: 1px solid $lightGray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    .accountItem {
      text-decoration: none;
      display: grid;
      grid-template-columns: 50px 270px 200px 200px;
      height: 50px;
      @media screen and (max-width: 992px) {
        grid-template-columns: 40px 200px 120px 120px;
        height: 35px;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 30px 100px 90px 90px;
        height: 25px;
      }
      @media screen and (max-width: 375px) {
        height: 20px;
      }
      &:first-child {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      &:last-child {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      &:hover:not(:first-child) {
        cursor: pointer;
        background-color: $white;
      }
      div {
        border-left: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
        display: flex;
        align-items: center;
        padding-left: 16px;
        font-weight: 400;
        @include responsiveText(14px);
        color: #000;
        &:first-child {
          border-left: 0;
          border-top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
        }
      }
      &:last-child {
        div {
          border-bottom: 0;
        }
      }
      &.head {
        div {
          display: flex;
          align-items: center;
          padding-left: 16px;
          font-weight: bold;
          @include responsiveText(14px);
          color: #000;
          background-color: $white;
          &:first-child {
            border-top-left-radius: 12px;
          }
          &:last-child {
            border-top-right-radius: 12px;
          }
        }
      }
    }
  }
}
