@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
$red: #fa4616;
$black: #333333;
$gray: #636363;
$green: #008000;
$border: #c3c3c3;
@mixin responsiveText($fontSize) {
  font-size: $fontSize;
  @media screen and (max-width: 992px) {
    font-size: $fontSize * 0.75;
  }
  @media screen and (max-width: 768px) {
    font-size: $fontSize * 0.6;
  }
  @media screen and (max-width: 375px) {
    font-size: $fontSize * 0.5;
  }
}
body {
  font-family: 'Montserrat';
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#bar {
  height: 16px;
  background-color: $red;
  width: 100%;
}
#content {
  opacity: 0;
  animation: showBox 0.6s forwards;
  height: 100vh;
}
#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 104px;
  transition: all 0.5s;
  @media screen and (max-width: 992px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
  div {
    h1 {
      text-align: center;
      color: $red;
      font-style: normal;
      font-weight: 500;
      @include responsiveText(2.25rem);
    }
    p {
      @include responsiveText(1rem);
      text-align: center;
      margin: 0;
      margin-top: 8px;
      color: #000;
      font-weight: 500;
    }
  }
}
.btn {
  border: 0 !important;
  background-color: $red !important;
  border-radius: 12px !important;
  color: #fff !important;
  font-weight: 400 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  padding: 0 22px !important;
  svg {
    font-size: 20px;
    position: absolute;
    left: 16px;
    @media screen and (max-width: 992px) {
      left: 12px;
      font-size: 18px;
    }
    @media screen and (max-width: 768px) {
      left: 8px;
      font-size: 16px;
    }
  }
}
#specialModalBox {
  width: 640px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  @media screen and (max-width: 992px) {
    width: 500px;
    position: absolute;
    overflow: scroll;
    height: 100vh;
  }
  @media screen and (max-width: 768px) {
    max-width: 400px;
  }
  @media screen and (max-width: 525px) {
    max-width: 350px;
  }
  @media screen and (max-width: 375px) {
    max-width: 250px;
  }
  .close {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    margin-top: 12.34px;
    margin-right: 12.34px;
    cursor: pointer;
    svg {
      transition: all 0.5s;
      color: $black;
      font-size: 20px;
    }
    &:hover > svg {
      transform: rotate(90deg);
    }
  }
  .title {
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 56px;
    margin-bottom: 0;
    h2 {
      font-weight: 500;
      @include responsiveText(24px);
      margin: 0;
    }
  }
  .formArea {
    margin: 0;
    margin-top: 20px;
    margin-left: 48px;
    margin-right: 48px;
    @media screen and (max-width: 992px) {
      margin-top: 15px;
      margin-left: 40px;
      margin-right: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 10px;
      margin-left: 34px;
      margin-right: 34px;
    }
    @media screen and (max-width: 525px) {
      margin-top: 7px;
      margin-left: 24px;
      margin-right: 24px;
    }
    @media screen and (max-width: 375px) {
      margin-top: 3px;
      margin-left: 14px;
      margin-right: 14px;
    }
  }
  form {
    .row {
      --bs-gutter-x: 16px; // columnların arasındaki boşluk
      margin-top: 24px;
      @media screen and (max-width: 992px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 16px;
      }
      @media screen and (max-width: 525px) {
        margin-top: 10px;
      }
      @media screen and (max-width: 375px) {
        margin-top: 5px;
      }
    }
    label {
      font-weight: 500;
      @include responsiveText(16px);
      cursor: pointer;
      color: $red;
      &.form-check-label {
        font-weight: 500;
        @include responsiveText(11px);
        color: $gray;
        margin-left: 8px;
      }
    }
    input,
    select,
    textarea {
      border: 2px solid $border;
      border-radius: 12px;
      margin: 0;
      transition: all 0.7s;
      font-weight: 500;
      @include responsiveText(14px);
      height: 48px;
      @media screen and (max-width: 992px) {
        height: 38px;
      }
      @media screen and (max-width: 768px) {
        height: 28px;
      }
      @media screen and (max-width: 375px) {
        height: 24px;
      }
    }
    textarea {
      resize: none;
      min-height: 96px;
      @media screen and (max-width: 991px) {
        min-height: 86px;
      }
      @media screen and (max-width: 768px) {
        min-height: 76px;
      }
      @media screen and (max-width: 375px) {
        min-height: 66px;
      }
    }
    select {
      padding-top: 0;
      padding-bottom: 0;
    }
    .form-check-input {
      background-color: #f3f3f3;
      height: 21px;
      width: 21px;
      cursor: pointer;
      @media screen and (max-width: 992px) {
        width: 16px;
        height: 16px;
      }
      @media screen and (max-width: 768px) {
        width: 14px;
        height: 14px;
      }
    }
    .form-check-input:checked[type='radio'] {
      background: $green;
      border: 4px solid #f3f3f3;
    }
    .form-check {
      padding: 0;
      display: inline-flex;
      align-items: center;
    }
  }
  .ok {
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 992px) {
      margin-top: 18px;
      margin-bottom: 40px;
      margin-left: 40px;
      margin-right: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 14px;
      margin-bottom: 34px;
      margin-left: 34px;
      margin-right: 34px;
    }
    @media screen and (max-width: 525px) {
      margin-top: 10px;
      margin-bottom: 24px;
      margin-left: 24px;
      margin-right: 24px;
    }
    @media screen and (max-width: 375px) {
      margin-top: 3px;
      margin-bottom: 14px;
      margin-left: 14px;
      margin-right: 14px;
    }
    button {
      width: 112px;
      height: 48px;
      @include responsiveText(12px);
      justify-content: flex-end !important;
      svg {
        left: 15px;
      }
      @media screen and (max-width: 992px) {
        width: 102px;
        height: 43px;
      }
      @media screen and (max-width: 768px) {
        width: 92px;
        height: 38px;
      }
      @media screen and (max-width: 525px) {
        width: 82px;
        height: 33px;
      }
      @media screen and (max-width: 365px) {
        width: 72px;
        height: 28px;
      }
    }
  }
}
@keyframes showBox {
  to {
    opacity: 1;
  }
}
