#account {
  width: 100%;
  min-height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px 0;
  transition: all 0.5s;
  @media screen and (max-width: 992px) {
    margin: 32px 0;
  }
  @media screen and (max-width: 768px) {
    margin: 15px 0;
  }
  #accountArena {
    width: 720px;
    min-height: 720px;
    margin: 0 5px;
    border-radius: 12px;
    border: 1px solid #c3c3c3;
  }
}
