@mixin responsiveText($fontSize) {
  font-size: $fontSize;
  @media screen and (max-width: 992px) {
    font-size: $fontSize * 0.7;
  }
  @media screen and (max-width: 768px) {
    font-size: $fontSize * 0.5;
  }
  @media screen and (max-width: 525px) {
    font-size: $fontSize * 0.4;
  }
}
$lightGray: #c3c3c3;
$red: #fa4616;
$black: #333333;
#navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  @media screen and (max-width: 992px) {
    margin-top: 2%;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 720px;
    @media screen and (max-width: 768px) {
      justify-content: space-around;
      max-width: 320px;
    }
    .mainPage {
      border: 0;
      background-color: $red;
      border-radius: 12px;
      color: #fff;
      font-weight: 400;
      @include responsiveText(12px);
      height: 48px;
      width: 168px;
      cursor: pointer;
      @media screen and (max-width: 992px) {
        width: 140px;
      }
      @media screen and (max-width: 768px) {
        width: 80px;
      }
    }
    .newActivity {
      border: 0;
      background-color: $red;
      border-radius: 12px;
      color: #fff;
      font-weight: 400;
      @include responsiveText(12px);
      height: 48px;
      width: 204px;
      cursor: pointer;
      @media screen and (max-width: 992px) {
        width: 190px;
      }
      @media screen and (max-width: 768px) {
        width: 100px;
      }
    }
  }
}
