@mixin responsiveText($fontSize) {
  font-size: $fontSize;
  @media screen and (max-width: 992px) {
    font-size: $fontSize * 0.7;
  }
  @media screen and (max-width: 768px) {
    font-size: $fontSize * 0.5;
  }
  @media screen and (max-width: 525px) {
    font-size: $fontSize * 0.4;
  }
}
$lightGray: #c3c3c3;
$red: #fa4616;
$black: #333333;
#search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  transition: all 0.5s;
  @media screen and (max-width: 992px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 6px;
  }
  div {
    max-width: 720px;
    height: 100%;
    #form {
      display: grid;
      grid-template-columns: 351px 168px 168px;
      gap: 16px;
      align-content: center;
      @media screen and (max-width: 992px) {
        grid-template-columns: 200px 100px 100px;
        gap: 3px;
        padding: 0 3px;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 140px 90px 90px;
        gap: 2px;
        padding: 0 2px;
      }
      div {
        label {
          font-weight: 500;
          @include responsiveText(16px);
          color: $red;
          margin: 0;
        }
        input {
          background: #fff;
          border: 2px solid $lightGray;
          border-radius: 12px;
          color: $black;
          font-weight: 500;
          @include responsiveText(14px);
          height: 48px;
          width: 351px;
          @media screen and (max-width: 992px) {
            width: 200px;
            height: 34px;
          }
          @media screen and (max-width: 768px) {
            width: 140px;
            height: 30px;
          }
          @media screen and (max-width: 375px) {
            height: 25px;
          }
        }
        select {
          border: 2px solid $lightGray;
          border-radius: 12px;
          color: $black;
          font-weight: 500;
          @include responsiveText(14px);
          height: 48px;
          width: 168px;
          cursor: pointer;
          @media screen and (max-width: 992px) {
            width: 100px;
            height: 34px;
          }
          @media screen and (max-width: 768px) {
            width: 90px;
            height: 30px;
          }
          @media screen and (max-width: 375px) {
            height: 25px;
          }
        }
        button {
          border: 0;
          background-color: $red;
          border-radius: 12px;
          color: #fff;
          font-weight: 400;
          @include responsiveText(12px);
          height: 48px;
          width: 168px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 992px) {
            width: 100px;
            height: 34px;
          }
          @media screen and (max-width: 768px) {
            width: 90px;
            height: 30px;
          }
          @media screen and (max-width: 375px) {
            height: 25px;
          }
          .plus {
            color: #fff;
            font-size: 22px;
          }
        }
      }
    }
  }
}
